<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      
        <style>
            .container {
             padding-top: 100px;
            }

            .form-group label {
                font-weight: bold;
            }

            .btn-primary {
                margin-top: 20px;
            }  
        </style>
      </head>
</head>
<body>
    <!-- HTML code for password reset form -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h2 class="mb-4">Password Reset</h2>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Your email address was not found. Please try again.
          </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email address:</label>
            {{ form.email }}
          </div>
          <button type="submit" class="btn btn-primary">Reset my password</button>
        </form>
      </div>
    </div>
  </div>
  
</body>

