{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRMS</title>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <li> <a class="homeClass" href={% url 'home' %}>HOME</a> </li>
                    <li> <a href={% url 'contact' %}>CONTACT US</a> </li>
                    <li> <a href={% url 'login' %}>LOGOUT</a> </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
