* {
    margin: 0;
    padding: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Times New Roman', Times, serif;

}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}


.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: yellow;
}

.homeClass {
    color: yellow;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.set {
    display: flex;
    height: 60%;
    align-items: center;
}

.col {
    flex-basis: 100%;
}

h3 {
    color: #fff;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  
  .form-group label {
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .form-group input[type="text"],
  .form-group select,
  .form-group input[type="number"] {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
  }
  
  .form-group input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
